services:
  postgres-db:
    image: postgres:16
    container_name: chat-postgres
    restart: always
    environment:
      POSTGRES_USER: devUser
      POSTGRES_PASSWORD: 35703570pp
      POSTGRES_DB: chatdb
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
